
body{
background-color: red;
}

section.gallery.gallery.py-5{
    background-color:black !important;
}

div#navbarNav.collapse.navbar-collapse a:hover{
    color: gold !important; 
}

div#navbarNav.collapse.navbar-collapse{
    padding-left: 206px;
      padding-right: 206px;
    font-size: 20px;

}

div.carousel-caption{
padding-bottom: 250px;
}

.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4));
}

img.card-img-top{
}

.btn-color{
    background: gold;
    color: black;
}

.btn-color:hover{
    background: black;
    color: gold;
}
h1 i{
    color: red;
    font-size:100px;
}

p.landingtext#landingtext{
color:red;
font-size:30px;
}

section.services.py-5.text-center.aboutus#aboutus{
padding-top:10px !important;
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 10 10 20px 3px grey;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

div.row i.fas.fa-globe.fa-9x{
    color:black;

}

div.row .fas.fa-truck.fa-9x{
    color:black;
}

div.row .fas.fa-hand-holding-usd.fa-9x{
    color:black;
}

h5.font-weight-bold.text-uppercase{
    color: black;
}

 h1.services.heading.text-center{
    color: black;
    text-decoration:underline gold;
     text-decoration: underline;
}

div.col-10.mx-auto.col-md-6.col-lg-4.my-3{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

p#inst.inst{
color: white !important;
}