{% extends 'landing_page/Base.html' %}
{% block nav%}
{%load static%}
<section id="contactus" class="head pb-5">

    <div class="container py-5">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light text-center py-3">Contact Us</h1>

                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row pt-3">
                     <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                         <span style="font-size: 30px; color: black"><i class="fas fa-map-marker-alt"></i></span>
                     </div>

                        <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                            <h3>Find Our Offices At</h3>
                            <p>18 Old Discovery Rd, Nr4,<br>
                                1724 Discovery,<br>
                                Gauteng
                            </p>
                        </div>

                    </div>
                     <div class="row pt-3">
                     <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                         <span style="font-size: 30px; color: black"><i class="fas fa-phone-alt"></i></span>
                     </div>

                        <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                            <h3 class="font-weight-light">Ring Us Up Anytime</h3>
                            <p>Zane Samodien<br>
                                011 125 379<br>
                                Mon - Fri, 9:00 a.m - 17:00 p.m
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                                <label>First Name:</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>

                             <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                                <label>Last Name:</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <label>Email</label>
                        <input type="Email" placeholder="Email" class="form-control">
                        <label>Your Message</label>
                        <textarea class="form-control mb-3" placeholder="Message" id ="" cols="30" rows="11"></textarea>
                        <input type="checkbox"> <label>I'm not a robot</label> <button class="btn btn-primary float-right">Send Message</button>
                    </form>
                </div>

                <div class="email text-center" id="email">
                    <a href="https://www.zanesamodien@gmail.com">Send a Direct Email</a>
                </div>

            </div>

        </div>
    </div>
</section>
{%endblock%}